.footer {
    display: flex;
    height: 100px;
    background-color: var(--color-ford-cordovan);
    align-items: center;
    justify-content: center;
}

.footer-fixed {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.links a {
    color: white;
    font-size: 1.25em;
    text-align: center;
}

.links a span {
    padding: 0 20px;
}

.links a:hover {
    color: var(--color-conexa);
    transition: color 200ms ease-in-out;
}

@media (max-width: 600px) {
    .footer {
        height: 70px;
    }
}