:root {
    --color-conexa: #f08035;
    --color-txt: white;
    --color-ford-cordovan: #2b2b2b;
    --width-page: 960px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    color: #222222;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}