:root {
    --color-orange: #f08035;
    --color-txt: white;
    /* --color-txt: #aaa; */
}

/* Esse uso do * é para aplicar a todos os elementos do html */
* { 
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background: #282A36;
    color: var(--color-txt);
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Source Sans Pro', sans-serif; */
}

header {
    display: flex;
    justify-content: center;
    padding: 20px 32px;
    /* border-bottom: 1px solid #333; */
    background: rgba(0,0,0,0.1);
}

.translate {
    right: 0;
    position: absolute;
    padding: 0 30px;
}

.links {
    text-align: center;
}

.links a {
    color: var(--color-txt);
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    text-decoration: none;
}

.links a:hover {
    color: var(--color-orange);
    transition: color 300ms;
}

#wrapper {
    text-align: center;
    padding: 30px 0 10px;

}

#wrapper-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 0 10px;
}

#wrapper-img #molde {
    border-radius: 140px 40px;
    border: 2px solid var(--color-orange);
    background-color: var(--color-orange);
    display: flex;
    width: auto;
    min-width: 305px;
    height: 250px;
}

#wrapper-img img {
    border-radius: 140px 161px 148px 47px;
    /* border: 2px solid var(--color-orange); */
    width: 305px;
    height: 300px;
    position: absolute;
    padding-bottom: 2px;
}

#content h1 {
    font-size: 42px;
    line-height: 62px;
    font-weight: bold;
}

#content h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
}

#content p {
    max-width: 500px;
    margin: 32px auto;
    font-size: 18px;
    line-height: 28px;
}

#content a {
    color: var(--color-orange);
    text-decoration: none;
}

#links-footer a {
    border-bottom: 1px solid var(--color-orange);
}

#links-footer a:hover {
    border-bottom: 3px solid var(--color-orange);
    transition: width 300ms;
}

footer.footer-custom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(0,0,0,0.1);;
    display: flex;
    justify-content: center;
    align-items: center;
}